*{
    margin: 0;
    padding: 0;
}

/*---common code*/
.body-section{
    font-size: 35px;
    font-weight: 700;
    color: #272727;
    text-align: center;
}

.body-discription{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom:25px ;
    text-align: center;
}
body{
    
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/*---common code*/

/*banner section*/

.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
   height: 608px;
   margin-bottom: 120px;
}



.banner-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #272727;
}


.banner-img{
    width: 500px;
    height: 580px;
padding-top: 30px;
padding-right: 80px;
flex-shrink: 0;
}

.banner-text{
    padding: 197px 97px 150px 240px;
}



.banner-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom:30px ;
}

.banner-btn{
    padding: 12px  30px;
    border-radius: 8px;
    background-color:  #E55473;
    border: none;
    color: white;
    font-weight: 700;
}



/*end banner section*/


/*--feature section*/

.featured-box-container{
    display: flex;
    
    align-items: center;
   gap: 280px;
    padding: 20px 350px 100px 280px;
    margin-bottom: 300px;
   
}
.fea-content{

width: 220px;
height: 250px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
position: absolute;

}

.fea-content p{
    text-align: center;
    margin-top: 15px;
    text-decoration: underline;
}
.fea-content img{
    width: 123px;
    padding: 80px 40px 0px 40px;
}

.fea-content-2{
width: 220px;
height: 250px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
position: absolute;
}

.fea-content-3{
width: 220px;
height: 250px;
border-radius: 300px 300px 0px 0px;
background:  rgba(71, 125, 17, 0.15);
position: absolute;
}

.fea-content-2 img{
    width: 140px;
    padding: 80px 40px 0px 40px;
}
.fea-content-2 p{
    margin-top: 46px;
    text-decoration: underline;
    text-align: center;

}

.fea-content-3 img{
    width: 130px;
    padding: 55px 40px 0px 40px;
}
.fea-content-3 p{
    margin-top: 16px;
    text-decoration: underline;
    text-align: center;
}


/*end feature section*/

/*order form*/
.order-box{
     display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(39, 39, 39, 0.05);
    height: 150px;
    padding: 55px 260px 100px 260px;
    margin-top: 40px;
    margin-bottom: 130px;
 
}
.order-content h2{
 
    font-weight: 700px;
    font-size: 25px;
    color: #272727;
    
}
.order-content p{
    padding-top: 15px;
    font-size: 18px;
}

.order-forms-text{
    margin-top: 40px;
  
    display: flex;
    flex-direction: column;
   
}
.order-forms-text input{
    padding:15px 70px;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(235, 229, 229, 0.521);
    border: 1px solid white;
   
}

.order-btn{
    padding: 12px  30px;
    margin-top: 20px;
    background-color:  #E55473;
    border: none;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 700;
}

/*end order section*/